/* Specific CSS for session w/ features page */

* {
  color: #2e6873;
}

.session-section h1 {
  margin: auto;
  width: 50%;
  padding: 5px;
  text-align: center;
  font-size: 40px;
  color: #2e6873;
}

.button-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin: 10px;
}

.middle-features-container {
  display: flex;
  margin: 20px 50px;
  margin: 20px;
  padding: 10px 80px;
  /* background: pink; */
}

.space-between {
  justify-content: space-between;
}

.feature-item-container {
  /* background: green; */
  padding: 5px;
  text-align: center;
}

/***** TASKS ******/
.task-container {
  max-width: 250px;
  width: 100%;
  padding: 20px;
  border: 12px;
  overflow: hidden;
  z-index: 10;
  backdrop-filter: blur(15px);
  border-radius: 5px;
  min-height: 250px;
  max-width: 300px;

  background: rgba(255, 255, 255, 0.1);
  box-shadow: 1 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(25px);
  border-radius: 10px;
}

.todoList li {
  margin-right: 8px;
}

.todoList::-webkit-scrollbar {
  width: 6px;
  padding: 0 0.5rem;
}

.todoList::-webkit-scrollbar-track {
  background: transparent;
  margin: 0 1rem;
  border-radius: 50px;
}

.todoList::-webkit-scrollbar-thumb {
  background: #292a2e;
  border-radius: 50px;
}

.todoList::-webkit-scrollbar-thumb:hover {
  background: #1d1e20;
  border-radius: 50px;
}

.task-container header {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: white;
}

.task-container .inputArea {
  margin: 20px 0;
  width: 100%;
  height: 45px;
  display: flex;
}

.inputArea input {
  width: 85%;
  height: 100%;
  outline: none;
  border-radius: 3px;
  font-size: 17px;
  padding-left: 15px;
  transition: all 0.3s ease;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  border: 0;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  color: #a7a7a7;
  border: 0;

  color: #8d8d8d;
}

.inputArea input:focus {
  background-color: rgba(0, 0, 0, 0.61);
  background-color: rgba(128, 128, 128, 0.021);
}

.inputArea button {
  width: 50px;
  height: 50px;
  border: none;
  color: #fff;
  margin-left: 5px;
  font-size: 21px;
  outline: none;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
  border-radius: 50%;
  pointer-events: none;
  transition: all 0.3s ease;
  background-color: rgba(128, 128, 128, 0.192);

  background-color: white;
  border: none;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.inputArea button:hover,
.bottom button:hover {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.418);
}

.inputArea button.active {
  opacity: 1;
  pointer-events: auto;
  animation: rot 0.5s linear;
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.task-container .todoList {
  max-height: 250px;
  overflow-y: auto;
}

.todoList li {
  position: relative;
  list-style: none;
  height: 45px;
  line-height: 45px;
  margin-bottom: 8px;
  background: transparent;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 5px rgba(107, 107, 107, 0.267);
  color: white;
  border-radius: 3px;
  padding: 0 15px;
  cursor: default;
  overflow: hidden;
  border-radius: 50px;

  color: #2e6873;
  background: rgba(128, 128, 128, 0.192);
  opacity: 0.8;
  /* word-wrap: break-word; */
  /* white-space: initial; */
  /* display: block; */
  /* padding: 0 55px 0px 15px;
  line-height: 25px;
  line-height: 45px;
  min-height: 45px;
  overflow-x: hidden; */
}
.todoList li .icon {
  height: 45px;
  width: 45px;
  position: absolute;
  right: -45px;
  width: 45px;
  text-align: center;
  /* color: rgb(207, 207, 207); */
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  transition: all 0.2s ease;
  /*   border-radius: 50%; */
  color: #2e6873;
}

.todoList li:hover .icon {
  animation: rotdit 0.5s linear;
  right: 0px;
  color: #2e6873;
}

.todoList li .icon:active {
  background: rgba(77, 77, 77, 0.747);
  opacity: 0.5;
}
@keyframes rotdit {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  25% {
    opacity: 0.2;
    transform: rotate(90deg);
  }
  50% {
    opacity: 0.5;
    transform: rotate(100deg);
  }
  75% {
    opacity: 0.7;
    transform: rotate(270deg);
  }
  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}

.task-container .bottom {
  display: flex;
  width: 100%;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}
.bottom {
  color: white;
}

.bottom button {
  padding: 6px 10px;
  border-radius: 3px;
  border: none;
  outline: none;
  /* color: white; */
  font-weight: 400;
  font-size: 16px;
  margin-left: 5px;
  background-color: rgba(65, 65, 65, 0.534);
  backdrop-filter: blur(8px);
  user-select: none;
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 50px;
  background-color: rgba(128, 128, 128, 0.192);

  /*******/
  background-color: white;
  border: none;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.pendingTasks {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #5a5a5abd;
  height: 30px;
  width: 30px;
  color: #e4e4e4;
  border-radius: 50%;
}

/***** TIMER ******/
.timer-container {
  /* background: purple; */
  position: relative;
  min-height: 250px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 1 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(25px);
  border-radius: 10px;
  padding: 20px 10px 10px;

  height: 250px;
  width: 300px;
}

.timer-options-buttons {
  padding: 3px 10px 10px;
}

.timer-options-buttons button {
  background-color: transparent;
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.timer-digits {
  /* position: relative; */
  height: 110px;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-digits p {
  font-size: 95px;
  font-weight: 600;
  color: #2e6873;
}

.timer-button-container {
  padding: 10px;
}

.timer-button-container button {
  background-color: white;
  border-radius: 5px;
  border: none;
  padding: 5px;
  font-size: 20px;
  cursor: pointer;
  padding: 5px 50px;

  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

/***** CHAT ******/
.chat-container {
  position: relative;
  width: 600px;
  min-height: 250px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 1 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(25px);
  border-radius: 10px;
  padding: 20px 10px 10px;

  height: 250px;
  width: 300px;
}

/***** END BUTTON ******/
.button-container {
  position: absolute;
  top: 10px;
  right: 50px;
}

.button-container button {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  margin-top: 10px;
  width: 100px;
  text-align: center;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  padding: 12px 0;

  color: white;
  background: rgb(243, 56, 56);
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);

  text-transform: uppercase;
  border: none;

  margin-bottom: 20px;
  border-radius: 3px;
}

/***** MUSIC ******/
.music-container {
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 400px;
  bottom: 15px;
  width: 100%;
}

iframe {
  background-color: transparent;
  opacity: 0.95;
  /* filter: alpha(opacity=25); IE */
  margin-top: 20px;
  margin-bottom: 30px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 10px;
  -moz-box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.514);
  -webkit-box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.562);
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.788);
}
