/* CSS for Session Form page */

/**** SESSION FORM ****/
.form {
  position: relative;
  margin: 100px auto;
  width: 450px;
  height: 300px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  text-align: center;
}

.form h1 {
  line-height: 55px;
  font-size: 30px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  color: #2e6873;
  text-align: center;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  margin-top: 0px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.session-form-container {
  position: relative;
  margin: 0 50px;
}

.session-form-container .session-title {
  font-size: 15px;
}

.form input[type="text"] {
  font-size: 18px;
  left: 0px;
  top: 0px;
  height: 44px;
  width: 80%;
  color: Black;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);

  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
  line-height: 44px;
  transition: all 0.3s ease-out;
  border-radius: 3px;
}

::-webkit-input-placeholder {
  color: grey;
}

.session-form-container {
  padding: 50px 0 0 0;
}

.btn-container {
  padding: 40px 0 0 0;
}

.form button {
  margin-top: 10px;
  width: 100px;
  text-align: center;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  padding: 12px 0;

  color: white;
  background: #2e6873;
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);

  text-transform: uppercase;
  border: none;

  margin-bottom: 20px;
  border-radius: 3px;
}
