
#signup-button{
    background-color: lightblue;
    border: none;
    padding: 8px 16 px;
    border-radius: 3px;
    font-size: 24 px;
    cursor:pointer;
    outline: none;
    margin-top: 6px;
    margin-right: 6px;
    position:absolute;
    top:0;
    right:0;
}
#signup-button:hover{
    background-color:#0066b2;
    color:white;
}
#login-button{
    background-color: whitesmoke;
    border: none;
    padding: 8px 16 px;
    border-radius: 3px;
    font-size: 24 px;
    cursor:pointer;
    outline: none;
    margin-top: 6px;
    margin-right: 66px;
    position:absolute;
    top:0;
    right:0;
    
}